<h1>Users#index</h1>
<div class="row">
  <% @users.each do |user| %>
    <div class="card col-lg-3" >
      <div class="card-body">
        <h5 class="card-title"> User numéro : <%= user.id %>  </h5>
        <h6 class="card-subtitle mb-2 text-muted"> Prénom : <%=user.first_name%> </h6>
        <p class="card-text" > Email: <%= user.email %> </p>
        <p class="card-text" > MDP: <%= user.password %> </p>
      </div>
    </div>
  <% end %>
</div>
